body{
 background:url(http://subtlepatterns.com/patterns/tree_bark.png);
}
h1{
  font-size:2em;
  border-radius:.1em;
  margin: 20 10 10px;
  cursor: pointer;
  font-family: 'Poiret One',cursive,serif;
  outline: 0;
  border: 0;
  width: 10x;
  padding: .5px 10px 10px 0px;
  background-color: 003625;
  color:rgba(230,220,250,1);
  font-size: 2em;
  -webkit-box-shadow: inset 0 -1px 10px 0 rgba(0,0,0,.1);
  box-shadow: inset 0 -1px 10px 0 rgba(0,0,0,.1);
  -webkit-transition: background 150ms ease-in-out;
  -moz-transition: background 150ms ease-in-out;
  -ms-transition: background 150ms ease-in-out;
  -o-transition: background 150ms ease-in-out;
  transition: background 150ms ease-in-out;
  outline: 3px dashed #195046;
  outline-offset: 2.6px;
}
  
.box {
  float: left;
  width: 400px;
  height: 250px;
}
 
.box{
  list-style-type:none;
}

.box>li{
  background-color:009572;
  padding:3px 10px;
}

.box>li:nth-child(odd){
  background-color:00CB9C;
}

.box-name{
  font-weight: 900;
  color: E2F8FF;
  display:inline-block;
  width:200px;
  
}
.box-unit{
  color: 003625;
}

.after-box {
  clear: left;
}  

.detail h2{
  color:003625;
  font-size:1.5em;
  font-family:Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif; 
  border-bottom:5px solid ;
  border-color:003625;
}

.detail p,
.detail ol{
  font: 1em/1.5 serif;
  font-family:Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  color:195046;
}


















